/target
/dist
/bin/
client/desktop/target/
client/desktop/dist/
.DS_Store
Makefile.local
mise.local.toml
inner
client/webui/node_modules/
devpane/.build/
devpane/be/target/
devpane/be/.build/
**/__pycache__/
*.py[cod]
client/webui/dist/
client/webui/*.tsbuildinfo
